@{
    ViewBag.Title = "Home Page";
}

<div style="margin: 5px 0;">
    <a href="/客戶聯絡人/Index">客戶聯絡人</a>
</div>
<div style="margin: 5px 0;">
    <a href="/客戶資料/Index">客戶資料</a>
</div>
<div style="margin: 5px 0;">
    <a href="/客戶銀行資訊/Index">客戶銀行資訊</a>
</div>